Dockerfile
.dockerignore
node_modules
npm-debug.log
dist
.git
.gitignore
.idea
.github
.devcontainers

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old

# Editor directories and files
.vscode/
*.code-workspace


# OS-specific files
.DS_Store
Thumbs.db
